################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunrise.Services/ExcelFile
/Sunrise.Services/temp
/Sunrise.Services/temp/Excel
/Sunrise.Services/temp/FTPAPI_EXPORT
/Sunrise.Services/temp/URLAPI_EXPORT
/SunriseWeb/Upload/OfferExcel
/.vs
/SunriseWeb/obj/Debug/BhavyDiam_SunriseWeb.csproj.AssemblyReference.cache
/.vs/SunriseWeb/config/applicationhost.config
/.vs/SunriseWeb/FileContentIndex/6bd9c262-626f-4249-a4f0-76dd53204069.vsidx
/.vs/SunriseWeb/config/applicationhost.config
/.vs/SunriseWeb/FileContentIndex/6bd9c262-626f-4249-a4f0-76dd53204069.vsidx
/DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EpExcelExport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EpExcelExport/obj/Debug/EpExcelExport.csproj.AssemblyReference.cache
/Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Lib/obj/Debug/Lib.csproj.AssemblyReference.cache
/Sunrise.Services/obj/Debug/BhavyDiam_Sunrise.Services.csproj.AssemblyReference.cache
/Sunrise.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SunriseWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
