
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Check</title>
</head>
<body>
    <div>
        <object width="100%" height="100%" data='https://shairugems.net:8010/DNA/Vision360?d=BW0822272&amp;sv=0,1,2,3,4&amp;z=1&amp;i=HDInfo?SeqNo=BW0822272'
                style="border: 0px; height: 520px;">
        </object>
        <object width="100%" height="100%" data='https://4e0s0i2r4n0u1s0.com/Vision360.html?d=293555747&s=0&surl=https://4e0s0i2r4n0u1s0.com/vfiles/&autoplay=1'
                style="border: 0px; height: 520px;">
        </object>

        <object data="http://www.bhavyamdiam.com/Certi/220000092812.pdf" width="800" height="500"> </object>

        <iframe style="border-width:0px;height: 1100px;width:100%;" src="http://www.bhavyamdiam.com/Certi/220000092812.pdf"></iframe>

        <embed src="http://www.bhavyamdiam.com/Certi/220000092812.pdf" width="500" height="375" type="application/pdf">

        <img style="border-width:0px;height: 1100px;width:100%;" src="http://www.bhavyamdiam.com/Certi/220000092812.pdf"/>
        
    </div>
</body>
</html>
